.sidebar {
  padding: 20px;
  background-color: #fff;
  border-right: 1px solid #ddd;
}


.sidebar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-item {
  cursor: pointer;
  padding: 5px 0;
  border-radius: 5px;
  transition: background 0.2s;
}

.sidebar-item:hover {
  background-color: #f2f2f2;
}

.sidebar-item i {
  font-size: 20px;
}

.sidebar-item a{
  color: #363535;
  text-decoration: none;
}
