.sidebar {
  /* width: 250px; */
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100vh;
  padding: 20px 10px;
  border-right: 1px solid #262626;
  font-family: "Segoe UI", sans-serif;
}

.sidebar-logo {
  font-family: 'Billabong', cursive;
  font-size: 28px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 8px 15px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.sidebar-item a:hover {
  background-color: #1a1a1a;
}

.sidebar-item i {
  font-size: 20px;
  margin-right: 15px;
}

.sidebar-item.active a {
  font-weight: bold;
}

.sidebar-footer {
  border-top: 1px solid #262626;
  padding-top: 20px;
}

.sidebar-footer .sidebar-item {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 10px;
}

.sidebar-footer .sidebar-item:hover {
  background-color: #1a1a1a;
}
